[Desktop Entry]
Name=File
X-TDE-Library=tdeabc_file
Type=Service
X-TDE-ServiceTypes=TDEResources/Plugin
X-TDE-ResourceFamily=contact
X-TDE-ResourceType=file
