[Desktop Entry]
Comment=Bibliographic Data (Bibtex)
Icon=text-x-tex
MimeType=text/x-bibtex
Patterns=*.bib
Type=MimeType
X-TDE-IsAlso=text/plain

[Property::X-TDE-text]
Type=bool
Value=true
