[Desktop Entry]
Comment=C Source File
Icon=text-x-csrc
Type=MimeType
MimeType=text/x-csrc
Patterns=*.c;
X-TDE-IsAlso=text/plain

[Property::X-TDE-text]
Type=bool
Value=true
