[Desktop Entry]
Comment=Objective-C Source File
Icon=text-x-csrc
Type=MimeType
MimeType=text/x-objcsrc
Patterns=*.m;
X-TDE-IsAlso=text/plain

[Property::X-TDE-text]
Type=bool
Value=true
