[Desktop Entry]
Comment=Objective-C Header File
Icon=text-x-hsrc
Type=MimeType
MimeType=text/x-objchdr
#Patterns=*.h;
X-TDE-IsAlso=text/plain

[Property::X-TDE-text]
Type=bool
Value=true
