[Desktop Entry]
Comment=Tcl File
Type=MimeType
MimeType=text/x-tcl
Patterns=*.tcl;*.tk;
Icon=text-x-src
X-TDE-IsAlso=text/plain

[Property::X-TDE-text]
Type=bool
Value=true
