[Desktop Entry]
Name=Network
X-TDE-Library=tdeabc_net
Type=Service
X-TDE-ServiceTypes=TDEResources/Plugin
X-TDE-ResourceFamily=contact
X-TDE-ResourceType=net
