[Desktop Entry]
Name=Directory
X-TDE-Library=tdeabc_dir
Type=Service
X-TDE-ServiceTypes=TDEResources/Plugin
X-TDE-ResourceFamily=contact
X-TDE-ResourceType=dir
