[Desktop Entry]
Type=ServiceType
X-TDE-ServiceType=Application
Name=Application

[PropertyDef::NoDisplay]
Type=bool

[PropertyDef::X-DocPath]
Type=TQString

[PropertyDef::X-TDE-SubstituteUID]
Type=bool

[PropertyDef::X-TDE-Username]
Type=TQString

[PropertyDef::X-KDE-SubstituteUID]
Type=bool

[PropertyDef::X-KDE-Username]
Type=TQString

[PropertyDef::StartupWMClass]
Type=TQString

[PropertyDef::StartupNotify]
Type=bool

[PropertyDef::X-TDE-WMClass]
Type=TQString

[PropertyDef::X-TDE-StartupNotify]
Type=bool

[PropertyDef::X-DCOP-ServiceName]
Type=TQString

[PropertyDef::X-TDE-ParentApp]
Type=TQString

[PropertyDef::X-TDE-HasTempFileOption]
Type=bool

[PropertyDef::X-TDE-Protocols]
Type=TQStringList
