[Desktop Entry]
Type=MimeType
MimeType=application/mathml+xml
Patterns=*.mml;*.MML
Icon=text-html
Hidden=false
X-TDE-IsAlso=text/xml
Comment=MathML Document
