[Desktop Entry]
Type=MimeType
MimeType=application/msexcel
Icon=application-vnd.oasis.opendocument.spreadsheet
Patterns=*.xls;*.XLS;*.xlc;*.XLC;*.xll;*.XLL;*.xlm;*.XLM;*.xlw;*.XLW;
X-TDE-IsAlso=application/vnd.ms-excel
Comment=Microsoft Excel Spreadsheet
