[Desktop Entry]
Type=MimeType
MimeType=application/ogg
Icon=audio-x-generic
Patterns=*.ogg;*.OGG;
# Previous name of this mimetype
X-TDE-IsAlso=application/x-ogg
X-TDE-PatternsAccuracy=80
Comment=Ogg Multimedia
