[Desktop Entry]
Type=MimeType
MimeType=application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
Patterns=*.xlsx;*.XLSX
Icon=application-vnd.oasis.opendocument.spreadsheet
Comment=Microsoft Excel Spreadsheet

[Property::X-TDE-NativeExtension]
Type=TQString
Value=.xls
