[Desktop Entry]
Type=MimeType
MimeType=application/vnd.ms-excel.sheet.binary.macroEnabled.12
Patterns=*.xlsb;*.XLSB
Icon=application-vnd.oasis.opendocument.spreadsheet
Comment=Microsoft Excel Spreadsheet Macro Enabled

[Property::X-TDE-NativeExtension]
Type=TQString
Value=.xls
