[Desktop Entry]
Type=MimeType
MimeType=application/vnd.ms-word
Patterns=*.doc;*.DOC
Icon=application-vnd.oasis.opendocument.text
Comment=Microsoft Word Document

[Property::X-TDE-NativeExtension]
Type=TQString
Value=.doc
