[Desktop Entry]
Type=MimeType
MimeType=application/vnd.openxmlformats-officedocument.wordprocessingml.document
Patterns=*.docx;*.DOCX
Icon=application-vnd.oasis.opendocument.text
Comment=Microsoft Word Document

[Property::X-TDE-NativeExtension]
Type=TQString
Value=.doc
