[Desktop Entry]
Type=MimeType
MimeType=application/vnd.ms-powerpoint.addin.macroEnabled.12.desktop
Patterns=*.ppam
Icon=application-vnd.oasis.opendocument.presentation
Comment=Microsoft PowerPoint Presentation Add-In Macro Enabled

[Property::X-TDE-NativeExtension]
Type=TQString
Value=.ppt
