[Desktop Entry]
Type=MimeType
MimeType=application/wordperfect
Icon=application-vnd.oasis.opendocument.text
Patterns=*.wpd;*.WPD;
Comment=WordPerfect Document
