[Desktop Entry]
Type=MimeType
MimeType=application/x-applixword
Icon=application-vnd.oasis.opendocument.text
Patterns=*.aw
Comment=Applix Words Document
