[Desktop Entry]
Type=MimeType
MimeType=application/x-dbase
Icon=application-vnd.oasis.opendocument.database
Patterns=*.dbf;*.DBF;
Comment=dBASE Document
