[Desktop Entry]
Type=MimeType
MimeType=application/x-krita
Icon=application-x-krita
Patterns=*.kra;
X-TDE-AutoEmbed=false
Comment=Krita Document

[Property::X-TDE-NativeExtension]
Type=TQString
Value=.kra
