[Desktop Entry]
Type=MimeType
MimeType=application/x-magicpoint
Icon=application-vnd.oasis.opendocument.presentation
Patterns=*.mgp;*.MGP;
Comment=MagicPoint Presentation
