# A common misrepresentation of video/x-msvideo
[Desktop Entry]
Type=MimeType
MimeType=video/avi
Icon=video-x-generic
X-TDE-IsAlso=video/x-msvideo
Comment=Microsoft AVI Video
